<!-- Copy this html file, rename and insert in the code for the respective page -->
<!-- ## Authors: A2ron-k, Alexanthe -->

<!-- Applies base layout for application -->
{% extends "base.html" %}

{% block head %}
<!-- !Insert code here -->
<title>This is a Test</title>

{% endblock %}

<!------------------------------>
<!-- Content area for HTML ----->
<!------------------------------>
{% block body %}
<!-- !Insert code here -->
<h1>Try these routes</h1>

<ul>
	<li>/login</li>
	<li>/register</li>
</ul>


{% endblock %}

<!------------------------------>
<!-- Content area for scripts -->
<!------------------------------>

{% block script %}
<script>
	// Insert scripts here
</script>
{% endblock %}
