<!-- Applies base layout for application -->
{% extends "base.html" %} 

{% block head %}
<title>Login</title>

{% endblock %}
<!------------------------------>
<!-- Below is Content area for HTMl -->
<!------------------------------>
{% block body %}

<form action="/login" method="POST">
	<div class="">Sign in to PDA</div>

	<div class="form-group">
		<input type="text" name="email" placeholder="Email" />

		<input
			type="password"
			id="form-input-password"
			placeholder="Password"
			name="password"
			required
		/>
		<input type="submit" value="submit" name="submit" />
	</div>

	<div class="field">
		<label class="checkbox">
			<input type="checkbox" name="remember" />
			Remember me
		</label>
	</div>
</form>

{% endblock %}
<!------------------------------>
<!-- Below is Content area for scripts -->
<!------------------------------>
{% block script %}
<script>
	// Insert scripts here
</script>
{% endblock %}
