<!-- Applies base layout for application -->
{% extends "base.html" %}

{% block head %}
<!-- !Insert code here -->

{% endblock %}

<!------------------------------>
<!-- Content area for HTML ----->
<!------------------------------>
{% block body %}
<!-- !Insert code here -->
<h2>IT WORKS</h2>
<p>{{context.patient_id}}</p>
<p>{{context.case_id}}</p>
{% endblock %}

<!------------------------------>
<!-- Content area for scripts -->
<!------------------------------>

{% block script %}
<script>
	// Insert scripts here
</script>
{% endblock %}
